
/******************************/
/* GROEP -2: IMPORTS */
/* Bijvoorbeeld een link naar de informatie van de gebruikte lettertypes */
/******************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


/**************/
/* GROEP -1: CSS REMEDY (zijn dit CSS Resets / Normalizers? = Ja! */
/**************/


*, *::after, *::before {
  box-sizing:border-box;  
}


/******************************/
/* GROEP 0: CUSTOM PROPERTIES */
/******************************/
:root {
	/* custom properties kleuren */
	--color-text:#111;
	--color-background:#7cdaf1;
	/* custom properties typografie */
}

body{
	font-family: 'Open Sans', sans-serif;
  	font-weight: 400; /* Regular */

    background-color: rgb(152, 154, 154);
}


/*********************************/
/* GROEP 1: TIJDELIJKE MARKERING */
/*********************************/

/* Grote lay-out blokken (Blauw) */
header, footer, main, section, nav, aside {
    outline: 2px solid blue !important;
}

/* Divs en algemene containers (Oranje) */
div {
    outline: 1px solid orange !important;
}

/* Tekst- en inhoudselementen (Groen) */
p, h1, h2, h3, span, a {
    outline: 1px solid green !important;
}

ol{
	background-color: #dddada;
}

li{
	background-color: #ffffff;
}

main{
	background-color: #ef77d1;
}

aside{
	background-color: #d8d6d6;
}


/*********************************/
/* GROEP 3: GLOBALE BASISSTIJLEN */
/*********************************/


h1 {
	font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  color: #000000;
}

h2 {
	font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #000000;
}

h3 {
	font-family: 'open sans', sans-serif;
  font-size: 16px;
  color: #000000;
}

body {
	font-family: 'open sans', sans-serif;
 	font-size: 14px;
}


/*********************************/
/* GROEP 4: ONDERDEEL STIJLEN */
/*********************************/


.main-result {
	display: flex; /* Dit activeert flexbox */
	
	flex-direction: row; /* Zorgt dat artikelen/zijbalken naast elkaar staan */
	width: 100%; 
  	max-width: 100%;
	align-items: stretch;
  	box-sizing: border-box;

	gap: 0.5em; /* Maakt exact 0.5em ruimte TUSSEN de elementen */
	padding: 0.5em; /* Ruimte aan de buitenranden van de main */
}

.filter-result {
	order: -1;
}

.kaartenbak {
	display: grid; /* Dit activeert CSS Grid */
	grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
	justify-content: start;

	gap: 0.5em;         /* Maakt exact 0.5em ruimte TUSSEN de <li> items */
  	padding: 0.5em;     /* Maakt exact 0.5em ruimte RONDOM de hele lijst */

	list-style-type: none; /* Dit verwijdert de nummers volledig */

	/* DE FLEXBOX OVERRIDE:
     Hiermee vertellen we de main dat deze lijst ALLES moet opeisen */
  	flex-grow: 1;		/* dwingt flexbox om de horizontale ruimte wel af te staan aan grid! */
  	min-width: 0;       /* Breekt de shrink-to-fit berekening volledig af */
  	width: 100%;        /* Eis de volledige breedte op */
}

.card2 {
	box-sizing: border-box;
	
}



/*********************************/
/* GROEP x: OLD SHIT */
/*********************************/


.card1 {
	background-color:#ffffff;
	max-width: 20rem;
	aspect-ratio: 2 / 3;
	padding-left: 15px;
	padding-right: 15px;
	outline-style: solid;
	outline-width: 1px;
	outline-color: rgb(0, 0, 0);
	outline-offset: -15px;
	box-shadow: 5px 5px 10px 1px #a3a3a3;
}
.body1 {
	background-color:#6be594a7;
}
.cardh3 {
	background-color: rgb(43, 39, 118);
	text-align: center;
	color: #ffffff;
	padding: 25px;
}