/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
h1 {
	font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: #000000;
}
h2 {
	font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #000000;
}
h3 {
	font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000000;
}
body{
	font-family: 'Roboto', sans-serif;
 	font-size: 14px;
}

.card1{
	background-color:#ffffff;
	max-width: 20rem;
	aspect-ratio: 2 / 3;
	padding-left: 15px;
	padding-right: 15px;
	outline-style: solid;
	outline-width: 1px;
	outline-color: rgb(0, 0, 0);
	outline-offset: -15px;
	box-shadow: 5px 5px 10px 1px #a3a3a3;
}
.body1{
	background-color:#6be594a7;
}
.cardh3{
	background-color: rgb(43, 39, 118);
	text-align: center;
	color: #ffffff;
	padding: 25px;
}