/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
.card1{
	background-color:#ffffff;
	max-width: 20rem;
	aspect-ratio: 2 / 3;
	border-radius: 15px;
	outline-style: solid;
	outline-width: 1px;
	outline-color: rgb(0, 0, 0);
	outline-offset: -15px;
	box-shadow: 5px 5px 10px 5px #c6c4c4;
}
.body1{
	background-color:#c5c2c2a7;
}
.cardh3{
	background-color: rgb(38, 31, 181);
	text-align: center;
}